.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.dashboard-banner {
    height: 300px;
    background-image: linear-gradient(120deg,#eaee44,#33d0ff);
}