.header {
    display: flex;
    justify-content: flex-end;
    background: var(--grey-background);
    height: 9vh;
}

.header nav {display: flex;}

.header h1 {
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.nav-box {
    align-self: center;
    z-index: 2;
    width: 110px;
    height: 100%;
    font-weight: 100;
    cursor: pointer;
    transition: height .2s, background-color .2s;
}

.nav-box:hover {
    font-weight: 600;
    background-color: var(--primary-green);
    height: 120%;
}

.nav-box:active {background-color: var(--primary-green-hover);}

.nav-link {
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    transition: font-weight .2s, margin .2s;
}

#logo {
    margin-left: max(1.5vw, 10px);
    margin-right: 10px;
    width: max(3vmin, 45px);
    height: max(3vmin, 45px);
}

#logo-link {margin-right: auto;}