.Home {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 91vh;
  overflow: auto;
}

.Home-header {
  background-color: white;
  text-align: center;
  width: 80vw;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes Home-logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
