@keyframes modalOpacity {
    0% {background-color: rgba(0,0,0,0)}
    100% {background-color: rgba(0,0,0,0.5)}
}

@keyframes modalBounce {
    0% {transform: translateY(500px);
        opacity: 0;}
    100% {transform: translateY(0);
        opacity: 1;}
}

.br {
    display: block;
    margin-bottom: .8em;
}

.d-flex-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-clicked {
    animation: modalOpacity .4s;
}

.song-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.song-modal h3, .song-modal h4, .song-modal p, .song-modal h5 {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    pointer-events: none;
}

.song-modal h3 {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
}

.song-modal h4 {
    font-size: 18px;
    color: var(--primary-green);
    margin-right: 5px;
}

.song-modal h5 {
    --modal-h5-before: "";
    font-size: 12px;
    font-weight: 300;
    color: var(--grey-background);
    margin-left: auto;
    margin-right: 10px;
 }

.song-modal p {
    font-weight: 300;
    font-size: 18px;
}

.song-modal-main {
    display: flex;
    flex-flow: column;
    background-color: white;
    padding: var(--std-space);
    width: 750px;
    height: 400px;
    color: var(--grey-background);
    z-index: 1000;
    pointer-events: visible;
}

.main-clicked {
    animation: modalBounce .4s;
}

.song-modal-content {
    display: flex;
}

.song-modal-img {
    opacity: 1;
    height: 340px;
    width: 340px;
    border: 2px solid #dddddd;
    transition: opacity .4s;
}

.song-modal-img img {
    height: 100%;
}

.song-modal-img:hover {
    opacity: .8;
}


.song-modal-info {
    margin-left: var(--std-space);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
}

.song-modal-content:before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    content: attr(index);
    background-color: var(--light-grey-background);
    opacity: .8;
    color: black;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 40px;
    z-index: 1000;
}

.info-line {
    display: flex;
    align-items: center;
    width: 100%;
}

.modal-close-btn {
    cursor: pointer;
    margin-top: auto;
    align-self: center;
    border: none;
    background-color: #f8f8f8;
    width: 200px;
    height: 40px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #aaa;
    transition: background-color .4s, color .4s, width .4s;
}

.modal-close-btn:hover {
    background-color: #dddddd;
    color: #888;
    width: 100%;
}

.stat-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light-grey-background);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 50%;
    height: 20%;
}

.stat-bar:before {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary-green);
    height: 100%;
    content: "";
}

#popularity-bar:before {width: var(--popularity-width);}
#acoustic-bar:before {width: var(--acoustic-width);}
#dance-bar:before {width: var(--dance-width);}
#energy-bar:before {width: var(--energy-width);}
#loudness-bar:before {width: var(--loudness-width)}

.modal-left, .modal-right {
    background-color: white;
    cursor: pointer;
    opacity: .2;
    margin: 0 20px;
    width: 50px;
    height: 100px;
    transition: opacity .4s;
}

.modal-left:hover, .modal-right:hover {
    opacity: .9;
}

.modal-left img, .modal-right img {
    width: 40px;
    height: 40px;
}