.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
    margin: 0 10px;
}

.toggle-switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider { background-color: var(--primary-green);}

input:focus + .slider {box-shadow: 0 0 1px var(--primary-green);}

input:checked + .slider:before {transform: translateX(26px);}