.top-genres-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;
    margin-bottom: var(--std-space);
}

.genre {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    height: 30px;
    line-height: .6em;
    padding: 5px 20px;
    transition: color .2s, background-color.2s;
    cursor: default;
}

.genre:hover {
    background-color: var(--grey-background);
    color: white;
}

.genre h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.genre-stat-bar {
    height: 20%;
    width: 65%;
    background-color: var(--light-grey-background);
    margin-left: auto;
    position: relative;
}

.genre-stat-bar::before {
    position: absolute;
    background-color: var(--primary-green);
    width: 50%;
    height: 100%;
    content: "";
}