.top-items-container {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.top-items-container h1 {
    font-family: "Outfit", sans-serif;
    margin: var(--std-space);
    margin-left: 0;
}

.top-items-container h2 {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: max(18px, .6em);
}

.top-items-options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 15px;

}

#short_term, #medium_term, #long_term {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 var(--std-space);
    box-shadow: 5px 5px 5px var(--light-grey-border);
    transition: height .2s, background-color .2s, margin-top .2s, width .2s, color .2s;
}

.top-items-range {
    width: 100px;
    height: 50px;
    background-color: var(--light-grey-background);
    margin-top: 10px;
    font-weight: 300;
}

.top-items-range:hover {
    color: white;
    font-weight: 700;
    background-color: var(--grey-background);
}

.top-items-range-selected {
    font-weight: 700;
    width: 120px;
    color: white;
    background-color: var(--primary-green);
    height: 60px;
    margin-top: 0;
}

.top-items-range:active, .top-items-range-selected:active {
    background-color: var(--primary-green-hover);
}

.top-items-range h2 {
    font-weight: inherit;
    transition: font-weight .2s;
}

.top-items-display-toggle {
    margin-left: auto;
    margin-bottom: 10px;
}

.top-items-display-toggle img {
    width: 30px;
}
.grid-view {
    --song-height: 130px;
    --song-starting-img-dim: 100px;
    --song-ending-img-dim: 130px;
    --song-pseudo-starting-width: 10px;
    --song-pseudo-ending-width: 60px;
    --song-pseudo-starting-height: 100px;
    --song-pseudo-ending-height: 100px;
    --song-pseudo-font-size: 36px;
    --song-pseudo-starting-content: "";
    --song-pseudo-starting-opacity: 0;
    --song-img-starting-margin: 15px;
    --song-img-ending-margin: 0;

    --artist-height: 270px;
    --artist-starting-img-dim: 270px;
    --artist-ending-img-dim: 270px;
    --artist-pseudo-starting-width: 90%;
    --artist-pseudo-ending-width: 90%;
    --artist-pseudo-starting-height: 25%;
    --artist-pseudo-ending-height: 50%;
    --artist-pseudo-font-size: 22px;
    --artist-pseudo-starting-content: attr(title);
    --artist-pseudo-starting-opacity: .5;

    --grid-layout--top-items: repeat(auto-fit, minmax(250px, 1fr));
    --item-grid-gap: 15px;
    --item-box-shadow: 5px 5px 5px var(--light-grey-border);

}


.list-view {
    --song-height: 60px;
    --song-starting-img-dim: 45px;
    --song-ending-img-dim: 50px;
    --song-pseudo-ending-width: 50px;
    --song-pseudo-ending-height: 50px;
    --song-pseudo-starting-width: 40px;
    --song-pseudo-starting-height: 50px;
    --song-pseudo-font-size: 20px;
    --song-pseudo-starting-content: attr(index);
    --song-pseudo-starting-opacity: .8;
    --song-img-starting-margin: 50px;
    --song-img-ending-margin: 60px;

    --artist-height: 60px;
    --artist-starting-img-dim: 45px;
    --artist-ending-img-dim: 50px;
    --artist-pseudo-starting-width: 100%;
    --artist-pseudo-ending-width: 100%;
    --artist-pseudo-starting-height: 100%;
    --artist-pseudo-ending-height: 100%;
    --artist-pseudo-font-size: 20px;
    --artist-pseudo-starting-content: attr(index);
    --artist-pseudo-starting-opacity: .9;

    --grid-layout--top-items: 1fr;
    --item-grid-gap: 5px;
    --item-box-shadow: 2px 2px 2px var(--light-grey-border);
}

.top-items-display {
    display: grid;
    justify-content: center;
    grid-template-columns: var(--grid-layout--top-items);
    grid-gap: var(--item-grid-gap);
    background-color: white;
    margin-bottom: var(--std-space);
    transition: opacity var(--transition-time--item);
}

.song {
    --item-img-dim: var(--song-starting-img-dim);
    --transition-time--item: .2s;
    --item-pseudo-content: var(--song-pseudo-starting-content);
    --item-pseudo-opactiy: var(--song-pseudo-starting-opacity);
    --item-img-margin: var(--song-img-starting-margin);
    --song-pseudo-width: var(--song-pseudo-starting-width);
    --song-pseudo-height: var(--song-pseudo-starting-height);
    box-shadow: var(--item-box-shadow);
    background-color: var(--light-grey-background);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    height: var(--song-height);
    font-weight: 200;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    transition: background-color var(--transition-time--item), color var(--transition-time--item);
}

.song:hover {
    --item-img-dim: var(--song-ending-img-dim);
    --song-pseudo-width: var(--song-pseudo-ending-width);
    --song-pseudo-height: var(--song-pseudo-ending-height);
    --item-pseudo-content: attr(index);
    --item-pseudo-opactiy: 80%;
    --item-img-margin: var(--song-img-ending-margin);
    font-weight: 700;
    color: white;
    background-color: var(--grey-background);
}

.song-img {
    width: var(--item-img-dim);
    height: var(--item-img-dim);
    margin: 10px 10px 10px var(--item-img-margin);
    transition: width var(--transition-time--item), height var(--transition-time--item), margin var(--transition-time--item);
}

.song h3 {
    margin: 0 10px 0 0;
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    font-size: 18px;
    transition: font-weight var(--transition-time--item);
}

.song::before {
    content: var(--item-pseudo-content);
    opacity: var(--item-pseudo-opactiy);
    position: absolute;
    width: var(--song-pseudo-width);
    height: var(--song-pseudo-height);
    background-color: var(--light-grey-background);
    font-size: var(--song-pseudo-font-size);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: content var(--transition-time--item), opacity var(--transition-time--item), width var(--transition-time--item);
}

.artist {
    --transition-time--item: .2s;
    --item-pseudo-content: var(--artist-pseudo-starting-content);
    --item-pseudo-opactiy: var(--artist-pseudo-starting-opacity);
    --item-img-dim: var(--artist-starting-img-dim);
    --artist-pseudo-width: var(--artist-pseudo-starting-width);
    --artist-pseudo-height: var(--artist-pseudo-starting-height);
    height: var(--artist-height);
    box-shadow: var(--item-box-shadow);
    background-color: var(--light-grey-background);
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-weight: 200;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    transition: background-color var(--transition-time--item), color var(--transition-time--item);
}

.artist:hover {
    --item-img-dim: var(--artist-ending-img-dim);
    --artist-pseudo-width: var(--artist-pseudo-ending-width);
    --artist-pseudo-height: var(--artist-pseudo-ending-height);
    --item-pseudo-content: var(--artist-pseudo-starting-content);
    --item-pseudo-opactiy: 70%;
    font-weight: 700;
    color: white;
    background-color: var(--grey-background);
}

.artist-img {
    width: 100%;
    height: var(--item-img-dim);
    margin: 0;
    object-fit: cover;
}

.artist h3 {
    margin: 0 10px 0 0;
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    font-size: 18px;
    transition: font-weight var(--transition-time--item);
}

.artist::before {
    content: var(--item-pseudo-content);
    opacity: var(--item-pseudo-opactiy);
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--artist-pseudo-width);
    height: var(--artist-pseudo-height);
    background-color: black;
    font-size: var(--artist-pseudo-font-size);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 24px;
    padding: 0 5%;
    transition: content var(--transition-time--item), opacity var(--transition-time--item), height var(--transition-time--item), font-weight var(--transition-time--item);
}
