body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { text-decoration: none; }

::-webkit-scrollbar {
  width: max(5px, min(1vw, 10px));
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #61c27b;
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #50b36b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #45a860;
}

