.top-songs-container {
    z-index: 1;
    width: 100%;
}

.top-songs-container h1 {
    margin: var(--std-space);
    margin-left: 0;
}

.top-songs-container h2 {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: max(18px, .6em);
}

.top-songs-options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
}

.top-songs-range {
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 0 var(--std-space);
    background-color: var(--light-grey-background);
    margin-top: 10px;
    font-weight: 300;
    transition: height .2s, background-color .2s, margin-top .2s;
}

.top-songs-range:hover {
    font-weight: 600;
    background-color: var(--primary-green);
    height: 60px;
    margin-top: 0;
    z-index: 1;
}

.top-songs-range h2 {
    font-weight: inherit;
    transition: font-weight .2s;
}

.top-songs-display {
    --grid-layout--top-songs: repeat(auto-fit, minmax(220px, 1fr));
    display: grid;
    justify-content: space-between;
    grid-template-columns: var(--grid-layout--top-songs);
    background-color: var(--light-grey-background);
    transition: opacity var(--transition-time--song);
}

.song {
    --img-dimension--song: 64px;
    --transition-time--song: .2s;
    --width--song-before: 10px;
    --content--song-before: "";
    --opacity-song-before: 0%;
    --img-margin--song: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    height: 100px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color var(--transition-time--song), color var(--transition-time--song);
}

.song:hover {
    --img-dimension--song: 72px;
    --width--song-before: 60px;
    --content--song-before: attr(index);
    --opacity-song-before: 60%;
    --img-margin--song: 40px;
    font-weight: 700;
    color: white;
    background-color: var(--grey-background);
}

.song img {
    width: var(--img-dimension--song);
    height: var(--img-dimension--song);
    margin: 10px 10px 10px var(--img-margin--song);
    transition: width var(--transition-time--song), height var(--transition-time--song), margin var(--transition-time--song);
}

.song h3 {
    margin: 0 10px 0 0;
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    font-size: 18px;
    transition: font-weight var(--transition-time--song);
}

.song::before {
    content: var(--content--song-before);
    opacity: var(--opacity-song-before);
    position: absolute;
    width: var(--width--song-before);
    height: 100px;
    background-color: var(--light-grey-background);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: content var(--transition-time--song), opacity var(--transition-time--song), width var(--transition-time--song);
}

