#login-button {
    background: var(--primary-green);
    color: white;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: max(1em, 26px);
    margin: 100px 0;
    transition: background-color .5s, width .5s, height .5s, font-size .5s, margin .5s;
}

#login-button:hover {
    background: var(--primary-green-hover);
    width: 147px;
    height: 64px;
    margin: 98px 0;
    font-size: max(calc(var(--scale-factor)*1em), calc(26px * var(--scale-factor)));
}

#login-button:active {
    background: var(--primary-green-active);
}

.login {
    font-family: "Outfit", sans-serif;
    color: black;
}

.login h2 {
    font-size: max(1.5em, 32px);
    font-weight: 700;
    margin: 10px 0;
}

.login p {
    font-weight: 200;
    margin: 10px;
}

.dashboard-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: left;
}

.dashboard-container h1 {
    margin: var(--std-space);
    margin-left: 0;
}

.dashboard-container h2 {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-size: max(18px, .6em);
}

.top-songs-options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
}

.top-songs-range {
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 0 var(--std-space);
    background-color: var(--light-grey-background);
    margin-top: 10px;
    font-weight: 300;
    transition: height .2s, background-color .2s, margin-top .2s;
}

.top-songs-range:hover {
    font-weight: 600;
    background-color: var(--primary-green);
    height: 60px;
    margin-top: 0;
    z-index: 1;
    /*box-shadow: 0 2px 3px var(--grey-background);*/
}

.top-songs-range h2 {
    font-weight: inherit;
    transition: font-weight .2s;
}

.top-songs-display {
    --grid-width--top-songs: 220px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, var(--grid-width--top-songs));
    background-color: var(--light-grey-background);
}

@keyframes songLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.song {
    animation: 1s ease-out 0s 1 songLoad;
    --img-dimension--song: 64px;
    --transition-time--song: .2s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 220px;
    height: 100px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color var(--transition-time--song), color var(--transition-time--song);
}

.song:hover {
    --img-dimension--song: 72px;
    font-weight: 700;
    color: white;
    background-color: var(--grey-background);
}

.song img {
    width: var(--img-dimension--song);
    height: var(--img-dimension--song);
    margin: 10px;
    transition: width var(--transition-time--song), height var(--transition-time--song);
}

.song h3 {
    margin: 0 10px 0 0;
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    font-size: 18px;
    transition: font-weight var(--transition-time--song);
}